/*body {*/
    /*padding-top: 54px;*/
/*}*/

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.active {
    border-bottom: 1px solid green;
}

.nav-link:hover {
    border-bottom: 1px solid green;
}
.navbar-brand{
    max-height: 50px;
    max-width: 150px;
}

.background1{
    background-image: url(../imgs/back1.jpg);
    min-height: 600px;
}

input:focus{
    outline: none;
}

a{
    color: inherit;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer_link a{
    color: #abdde5;
}

.body_links a{
    color: white;
}

.footer_link a:hover{
    color: white;
    text-decoration: none;
}

.body_links a:hover{
    color: #abdde5;
    text-decoration: none;
}

.map {
    height: 30rem;
}

@media (max-width: 992px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    /*pointer-events: none;*/
}

.ash{
    background: #1d2124;
}
.padding-link{
    padding: 10px;
}
.list_logo{
    width: 100px;
    height: 100px;
}

.fas{
    font-size: 12px;
}
.list_title{
    font-weight: bold;
    color: green;
}

.top10{
    margin-top: 5px;
}

.blackbox{
    min-width: 100%;
    min-height: 250px;
    background: #272A2D;
    position: relative;
}

.blackbox_child{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
}

.icon-big{
    font-size: 20px;
}

.list-group-item{
    border: none !important;
}