.landing_background {
    background-image: url("../img/landing_page_background.png");
}

.how_to_background {
    background-image: url("../img/how_to.png");
}

.features_background {
    background-image: url("../img/features_background.png");
}
.table{
    width: 80% !important;
    max-width: 100%;
    margin-bottom: 20px;
}
.td_custom{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff !important;
}
.height{
    margin-top: 70px;
}
.h2Color{
    color: #388e3c !important;
}
.h2ColorBlack{
    color: #000 !important;
}
.h2ColorWhite{
    color: #fff !important;
}

header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}

.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu a {
    color: #00695c;
    padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #2BBBAD !important;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}